<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <!-- settings -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <!-- typeAliases -->
  <typeAliases> 
    <typeAlias alias="AccessHistoryDto" type="com.gdu.myapp.dto.AccessHistoryDto"/>
    <typeAlias alias="BlogCommentDto"     type="com.gdu.myapp.dto.LeaveUserDto"/>
    <typeAlias alias="BlogDetailDto"          type="com.gdu.myapp.dto.UserDto"/>
    <typeAlias alias="ImageDto"           type="com.gdu.myapp.dto.BbsDto"/>
    <typeAlias alias="LeaveUserDto"          type="com.gdu.myapp.dto.BlogDto"/>
    <typeAlias alias="LikeDto"        type="com.gdu.myapp.dto.UploadDto"/>
    <typeAlias alias="UserDto"        type="com.gdu.myapp.dto.AttachDto"/>
  </typeAliases>
  
</configuration>