<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <!-- settings -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <!-- typeAliases -->
  <typeAliases> 
    <typeAlias alias="AccessHistoryDto"      type="com.dosirak.prj.dto.AccessHistoryDto"/>
    <typeAlias alias="BlogCommentDto"        type="com.dosirak.prj.dto.BlogCommentDto"/>
    <typeAlias alias="BlogDetailDto"         type="com.dosirak.prj.dto.BlogDetailDto"/>
    <typeAlias alias="ImageDto"              type="com.dosirak.prj.dto.ImageDto"/>
    <typeAlias alias="LeaveUserDto"          type="com.dosirak.prj.dto.LeaveUserDto"/>
    <typeAlias alias="LikeDto"               type="com.dosirak.prj.dto.LikeDto"/>
    <typeAlias alias="UserDto"               type="com.dosirak.prj.dto.UserDto"/>
  </typeAliases>
  
</configuration>