@charset "UTF-8";
/* 타이틀 */
.blog-now {border-bottom: 1px solid #ddd;}
.blog-now h3 {font-size: 30px; text-align: center; padding: 0 0 40px;}


/* 리스트 */
#div-result{overflow: left; border-bottom: 1px solid #eee; padding: 20px 20px; margin: 0 auto;}
.now-result-wrap {max-width: 940px; margin: 0 auto; color: #959595; font-size: 13px;}
#now-result-list a {width: 100%;}
.list-wrap {overflow: left; border-bottom: 1px solid #eee; padding: 30px 20px;}
.contents-wrap .list-title {font-size: 20px; text-align: left; letter-spacing: -1px;}
.contents-wrap {display: flex; flex-wrap: nowrap; align-items: center;  margin-top: 6px; justify-content: space-between; text-align: left;}
.contents-wrap .list-item:nth-child(1) {margin-right: 15px; max-width:750px;}
.contents-wrap .list-item p img {display: none;}
.contents-wrap .list-item .list-content {overflow: hidden; max-height: 45px; text-align: left; color: #666; font-size: 14px; line-height: 21px;}
.contents-wrap .list-item .list-content {height: 44px; line-height: 20px; overflow: hidden; text-overflow: ellipsis;}
.list-thumbnail {width:120px; height: 120px; overflow: hidden;}
.list-info span {color: #959595; font-size: 12px; padding-top: 20px; margin-right: 10px;}



