<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dosirak.prj.mapper.BlogDetailMapper">
<resultMap type="BlogDetailDto" id="BlogDetailMap">
   <id     property="blogListNo"     column="BLOG_LIST_NO"/>
   <result property="keywordNo"      column="KEYWORD_NO"/>
   <result property="keywordName"      column="KEYWORD_NAME"/>
   <result property="title"      column="TITLE"/>
   <result property="contents"   column="CONTENTS"/>
   <result property="createDt"   column="CREATE_DT"/>
   <result property="modifyDt"   column="MODIFY_DT"/>
   <association property="user"  javaType="UserDto">
     <id     property="userNo"  column="USER_NO"/>
     <result property="nickname"   column="NICKNAME"/>
   </association>
 </resultMap>

  <insert id="insertBlogDetail"
          parameterType="BlogDetailDto">
    INSERT INTO BLOG_DETAIL_T (
        BLOG_LIST_NO
      , USER_NO
      , KEYWORD_NO
      , KEYWORD_NAME
      , TITLE
      , CONTENTS
      , CREATE_DT
      , MODIFY_DT
    ) VALUES (
        BLOG_LIST_SEQ.NEXTVAL
      , #{user.userNo}
      , #{keywordNo}
      , #{keywordName}
      , #{title}
      , #{contents}
      , CURRENT_TIMESTAMP
      , CURRENT_TIMESTAMP
    )
  
  </insert>
  
    <insert id="insertImages"
          parameterType="ImageDto">
    <selectKey order="BEFORE" keyProperty="blogListNo" resultType="int">
      SELECT MAX(BLOG_LIST_NO)
        FROM BLOG_DETAIL_T
    </selectKey>
    INSERT INTO IMAGE_T (
        IMAGE_NO
      , BLOG_LIST_NO
      , FILESYSTEM_NAME
      , UPLOAD_PATH
    ) VALUES (
        IMAGE_SEQ.NEXTVAL
      , #{blogListNo}
      , #{filesystemName}
      , #{uploadPath}
    )
  
  </insert>
  
  <select id="getKeywordNo"
          resultType="BlogDetailDto">
    SELECT BLOG_LIST_NO, USER_NO, TITLE, CONTENTS, CREATE_DT, MODIFY_DT, KEYWORD_NO, KEYWORD_NAME
      FROM BLOG_DETAIL_T
     WHERE KEYWORD_NO = #{keywordNo}
  </select>
  
  <select id="getKeywordCount"
          resultType="int">
    SELECT COUNT(*)
      FROM BLOG_DETAIL_T
     WHERE KEYWORD_NO = #{keywordNo}
  </select>

  <select id="getKeywordList"
          parameterType="Map"
          resultMap="BlogDetailMap">
    SELECT BLOG_LIST_NO, TITLE, CONTENTS, CREATE_DT, MODIFY_DT, KEYWORD_NO, KEYWORD_NAME, NICKNAME, USER_NO, COMMENT_COUNT, HAS_THUMBNAIL
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY D.BLOG_LIST_NO DESC) AS RN
                 , U.NICKNAME, U.USER_NO, D.BLOG_LIST_NO, D.TITLE, D.CONTENTS, D.CREATE_DT, D.MODIFY_DT, D.KEYWORD_NO, D.KEYWORD_NAME, D.COMMENT_COUNT, D.HAS_THUMBNAIL
              FROM USER_T U INNER JOIN BLOG_DETAIL_T D 
                ON U.USER_NO = D.USER_NO
             WHERE D.KEYWORD_NO = #{keywordNo})
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <update id="updateCommentCount">
    UPDATE BLOG_DETAIL_T
       SET COMMENT_COUNT = COMMENT_COUNT + 1
     WHERE BLOG_LIST_NO = 1
  </update>
   
</mapper>