<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dosirak.prj.mapper.KeywordMapper">

 <!-- <resultMap type="BlogDetailDto" id="BlogDetailMap">
   <id     property="blogListNo"     column="BLOG_LIST_NO"/>
   <result property="title"      column="TITLE"/>
   <result property="contents"   column="CONTENTS"/>
   <result property="createDt"   column="CREATE_DT"/>
   <result property="modifyDt"   column="MODIFY_DT"/>
   <association property="blogInfo"  javaType="BlogInfoDto">
     <id   property="blogNo"  column="BLOG_NO"/>
   </association>
   <association property="keyword"  javaType="keywordDto">
    <id property="keywordNo"      column="KEYWORD_NO"/>
    <result property="keywordName"      column="KEYWORD_NAME"/>
   </association>
 </resultMap> -->
 
  <select id="getKeywordCount"
          resultType="int">
    SELECT COUNT(*)
      FROM BLOG_DETAIL_T
  </select>

  <select id="getKeywordList"
          parameterType="Map"
          resultType="BlogDetailDto">  
    SELECT BLOG_LIST_NO, USER_NO, TITLE, CONTENTS, CREATE_DT, MODIFY_DT, KEYWORD_NO, KEYWORD_NAME
      FROM BLOG_DETAIL_T
     WHERE KEYWORD_NO = #{keywordNo}  
  </select>
  
 
</mapper>