<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dosirak.prj.mapper.UserMapper">

  <insert id="insertUser"
          parameterType="UserDto">
    INSERT INTO USER_T (
       USER_NO
     , EMAIL
     , PW
     , NAME
     , MOBILE
     , SIGNUP_KIND
     , GENDER
     , SIGUNUP_DT
     , PW_MODIFY_DT 
    ) VALUES (
        USER_SEQ.NEXTVAL
      , #{email}
      , #{pw}
      , #{name}  
      , #{mobile}  
      , 0  
      , #{gender}  
      , CURRENT_DATE  
      , CURRENT_DATE  
    )  
  </insert>
</mapper>